.description {
    margin: 0 -5%;
    float: left;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
    line-height: 1.5rem;
}

.allDescription {
    display: inline-block;
    flex: 1;
    margin-right: 20px;
}

.HPDescription {
    display: inline-flex;
    flex: 1;
    padding: 1rem 6.5rem;
    margin: 1rem 1rem;
}

.attackButton {
    display: inline-block;
}